body{
    margin: 0;
    padding: 0;
    background-color: blanchedalmond;
}
main{
    padding: 16px;
}
footer{
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 24px;
    padding-right: 24px;
    background-color: aquamarine;
}
img{
    height: 200px;
}
nav{
    border-bottom: 1px;
    padding: 16px;
    background-color: #BB8FCE;
    border: 3px;
    border-color: aqua;

}
.recipes{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}
h3 > a{
    color: green
}
h1{
    color: green;
}
a{
    text-decoration: none;
}
tr:nth-child(even) {
    background-color: aliceblue;
}